body{
  font-family: 'Ubuntu';
}

#title{
  background-color: #ff4c68;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 2;
  font-weight: 900;
  color: white;
}
#testimonials h2{
  color: white;
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15%;
}

.navbar{
  padding: 0 0 4.5rem;
}


.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.Download-button{
  margin: 5% 3% 5% 0;
}
.mobile{
  width: 60%;
  transform: rotate(30deg);
}
#features{
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 5% 15%;
  text-align: left;

}

 #features{
  margin: 5% 5% 5% 5%;
  text-align: center;
}
#features p{
  color: #8f8f8f;
}

.logo{
  font-size: 8rem;
  color: : #ef8172;


}
.logo:hover{

  color: #ff4c68;

}
#testimonials{
  text-align: center;
   background-color:  #ef8172;
   padding: 5% 5%;

}
.timage{
   width: 20%;
  border-radius: 100%;
  padding: 2%;
}
#press{
  background-color: #ef8172;
  padding: 5%;
}
.pimg{
  width: 15%;
  margin-left: 8%;
}
#pricing{
  text-align: center;
  padding: 100px;
}
#cta{
  background-color:  #ff4c68;
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  padding: 50px;

}
#footer{
  background-color: #ffff;
  text-align: center;
  padding: 30px;
}
